# this is an comment in init rc script!
# we run all required services for window server, no more console login or something

#windowserver /initrd/windowserver

# format:
# <service name>	<executable path>	<service priority>


# Prepare system to mount the directories
#mkdir proc
#mkdir sys
hostname devbuild
mount /dev /dev devfs
mount /tmp /tmp tmpfs
service login 1 /bin/login
#service useless 0 /bin/useless
#mount /dev/satapi0 /mnt iso9660
#service test 0 /initrd/tests
#service landmine 0 /mnt/usr/bin/landmine
#service wm 0 /bin/wm
#service test 0 /bin/t
